@page "/cocktails"
@inject CocktailService CocktailService

<h3>All Cocktails</h3>

<button @onclick="FetchCocktails">Fetch Cocktails</button>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (allCocktails != null)
{
    <ul>
        @foreach (var drink in allCocktails)
        {
            <li>
                <strong>@drink.Name</strong><br />
                <img src="@drink.Image" alt="@drink.Name" width="150" /><br />
                <p><strong>Ingredients:</strong></p>
                <ul>
                    @foreach (var ingredient in drink.IngredientsWithMeasurements)
                    {
                        <li>@ingredient</li>
                    }
                </ul>
                <p>@drink.Instructions</p>
            </li>
        }
    </ul>
}

@code {
    private List<Drink> allCocktails;
    private bool isLoading = false;

    private async Task FetchCocktails()
    {
        isLoading = true;
        allCocktails = await CocktailService.GetAllCocktails();

        await SaveCocktails();

        isLoading = false;

    }

    private async Task SaveCocktails()
    {
        string filePath = "cocktails.json";
        if (allCocktails != null && allCocktails.Count > 0)
        {
            await CocktailService.SaveCocktailsToFileAsync(allCocktails, filePath);
        }
    }
}
